<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/1PandasDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Dataframes

##Dataframe Basics

In [ ]:
#Dataset

data = {

        'student':["Amit","John","Mohammad"],
        'rank' : [1,2,3],
        'marks': [99, 98, 97]
}

In [ ]:
df = pd.DataFrame(data)
print(df)

    student  rank  marks
0      Amit     1     99
1      John     2     98
2  Mohammad     3     97

In [ ]:
#naming rows
df = pd.DataFrame(data, index = ["RowA","RowB","RowC"])
print(df)

       student  rank  marks
RowA      Amit     1     99
RowB      John     2     98
RowC  Mohammad     3     97

In [ ]:
# To print the value based on index:

print("Value: ", df.loc['RowA','student'])
print("Value: ", df.loc['RowB','rank'])

Value:  Amit
Value:  2

In [ ]:
#To access a group of rows and columns by integer positions in a pandas dataframe, we need to use iloc.

print(df.iloc[[1,2]]) # this means, first row and second row (index starts at 0)

       student  rank  marks
RowB      John     2     98
RowC  Mohammad     3     97

In [ ]:
df = pd.DataFrame(data, index=['stu1','stu2', 'stu3'])
print(df)

       student  rank  marks
stu1      Amit     1     99
stu2      John     2     98
stu3  Mohammad     3     97

In [ ]:
#Iterating a Dataframe using a for loop

for col in df:
  print(col)

student
rank
marks

##Attributes and Methods of Dataframe

In [ ]:
#dtypes attribute: gives the datatypes of these columns

print(df.dtypes)

student    object
rank        int64
marks       int64
dtype: object

In [ ]:
#ndim: returns the no of dimensions of the dataframe

print(df.ndim)

#it is 2 dimnesion as it in a table. refer to definition of dataframe

2

In [ ]:
#size: gets the no of elements in the dataframe

print(df.size)

9

In [ ]:
#shape: gives the shape of the dataframe

print(df.shape)

(3, 3)

In [ ]:
#index : gies the indices of the dataframe.

print(df.index)

Index(['stu1', 'stu2', 'stu3'], dtype='object')

In [ ]:
#transpose: it does matrix transpose to the dataframe.

print(df.T)

         stu1  stu2      stu3
student  Amit  John  Mohammad
rank        1     2         3
marks      99    98        97

In [ ]:
#head: gives first n rows

print(df.head(2)) #gives first 2
print(df.head()) #gives all values

     student  rank  marks
stu1    Amit     1     99
stu2    John     2     98
       student  rank  marks
stu1      Amit     1     99
stu2      John     2     98
stu3  Mohammad     3     97

In [ ]:
#tail: gives hte last n rows

print(df.tail())
print(df.tail(2))

       student  rank  marks
stu1      Amit     1     99
stu2      John     2     98
stu3  Mohammad     3     97
       student  rank  marks
stu2      John     2     98
stu3  Mohammad     3     97

##Joining Dataframes

In [ ]:
#Datasets

data1 = {

         'id': [101,102,103],
         'name': ['suresh', 'muthu', 'saro'],
         'school': ['dav','cps','sunshine']
}

data2 = {

         'home': ['chromepet', 'pallavaram', 'guindy'],
         'clothes': ['jeans', 'tshirt', 'pant']
}

#Creating dataframes

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print(df2)

    id    name    school
0  101  suresh       dav
1  102   muthu       cps
2  103    saro  sunshine
         home clothes
0   chromepet   jeans
1  pallavaram  tshirt
2      guindy    pant

In [ ]:
#joining dataframe

resDF = df1.join(df2)
print(resDF)

    id    name    school        home clothes
0  101  suresh       dav   chromepet   jeans
1  102   muthu       cps  pallavaram  tshirt
2  103    saro  sunshine      guindy    pant

##Concatenate Dataframes

In [ ]:
#Concatenating Dataframes

conDF = pd.concat([df1, df2])
print(conDF)

      id    name    school        home clothes
0  101.0  suresh       dav         NaN     NaN
1  102.0   muthu       cps         NaN     NaN
2  103.0    saro  sunshine         NaN     NaN
0    NaN     NaN       NaN   chromepet   jeans
1    NaN     NaN       NaN  pallavaram  tshirt
2    NaN     NaN       NaN      guindy    pant