<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/1PandasDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#Dataset

data = {

        'student':["Amit","John","Mohammad"],
        'rank' : [1,2,3],
        'marks': [99, 98, 97]
}

In [ ]:
df = pd.DataFrame(data)
print(df)

    student  rank  marks
0      Amit     1     99
1      John     2     98
2  Mohammad     3     97

In [ ]:
#naming rows
df = pd.DataFrame(data, index = ["RowA","RowB","RowC"])
print(df)

       student  rank  marks
RowA      Amit     1     99
RowB      John     2     98
RowC  Mohammad     3     97

In [ ]:
# To print the value based on index:

print("Value: ", df.loc['RowA','student'])
print("Value: ", df.loc['RowB','rank'])

Value:  Amit
Value:  2

In [ ]:
#To access a group of rows and columns by integer positions in a pandas dataframe, we need to use iloc.

print(df.iloc[[1,2]]) # this means, first row and second row (index starts at 0)

       student  rank  marks
RowB      John     2     98
RowC  Mohammad     3     97

In [ ]:
df = pd.DataFrame(data, index=['stu1','stu2', 'stu3'])
print(df)

       student  rank  marks
stu1      Amit     1     99
stu2      John     2     98
stu3  Mohammad     3     97

In [ ]:
#Iterating a Dataframe using a for loop

for col in df:
  print(col)

student
rank
marks