<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/2PandasSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series in Pandas

##Series Basics

In [ ]:
import pandas as pd

In [ ]:
#Data

data = [10,20,30,40,50]

#Creating series using series method

s = pd.Series(data, name="Records")
print(s)

0    10
1    20
2    30
3    40
4    50
Name: Records, dtype: int64

In [ ]:
#Accessing a value from Series

print(s[2]) #similar to py list indexing.3

30

##Attributes & Methods

In [ ]:
#ndim

print(s.ndim)

1

In [ ]:
#dtype

print(s.dtype)

int64

In [ ]:
#size

print(s.size)

5

In [ ]:
#hasnans: display true if series has NaNs (none) in series

print(s.hasnans)

False

In [ ]:
#index
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#head()

print(s.head(2))

0    10
1    20
dtype: int64

In [ ]:
#tail()

print(s.tail())
print(s.tail(2))

0    10
1    20
2    30
3    40
4    50
dtype: int64
3    40
4    50
dtype: int64

In [ ]:
#name

print(s.name)

Records

In [ ]:
print(s.info())

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: Records
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes
None

##Combining two pandas series

In [ ]:
#Datas

data1 = [10,20,30,40,50]
data2 = [25,26,27,29]

s1 = pd.Series(data1)
s2 = pd.Series(data2)

def demo(x1, x2):
  if x1>x2:
    return x1
  else:
    return x2

#Combining

res = s1.combine(s2,demo)
print(res)

0    25.0
1    26.0
2    30.0
3    40.0
4     NaN
dtype: float64