<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/3PandasCategory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Categorical Data

##Categorical Series

In [3]:
s = pd.Series([1,2,3,4,5,6], dtype="category")
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: category
Categories (6, int64): [1, 2, 3, 4, 5, 6]

##Categorical Dataframe

In [6]:
data= {

       'name': ['raj', 'suraj', 'tanish'],
       'no': [1,2,3]
}

df = pd.DataFrame(data, dtype ="category")
print(df)

     name no
0     raj  1
1   suraj  2
2  tanish  3

##Operations on Categories

In [7]:
#Append new categories

s = s.cat.add_categories("hey")
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: category
Categories (7, object): [1, 2, 3, 4, 5, 6, 'hey']

In [8]:
s = s.cat.remove_categories("hey")
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: category
Categories (6, object): [1, 2, 3, 4, 5, 6]