<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/4PandasCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas CSV

In [1]:
import pandas as pd

In [3]:
#Loading CSV in Dataframe

df = pd.read_csv("test.csv")
print(df)

    Hey  Marks  Your Ass
0  Jude      1        10
1   Dom      2       100

In [4]:
  print(df.ndim)

2

In [5]:
print(df.head(1))
print(df.tail())

    Hey  Marks  Your Ass
0  Jude      1        10
    Hey  Marks  Your Ass
0  Jude      1        10
1   Dom      2       100

In [6]:
#To read an excel file, we need to use ope pyxl. No difference. (.xlsx)

##Operations on CSV using Pandas

In [8]:
#To select multiple columns in pandas

print(df[df.columns[0:1]])

    Hey
0  Jude
1   Dom

In [15]:
#To add new columns the csv/excel.

df.insert(4,"Addres",["North Av","South Ave"]) #it follows the loc, name, value structure
print(df)

    Hey  Marks  Your Ass  Aadhar     Addres
0  Jude      1        10      12   North Av
1   Dom      2       100      14  South Ave

In [20]:
#To add new columns directly into the last, we can use

updated_df = df.assign(Height = [177, 178])
print(df)
print(updated_df)

    Hey  Marks  Your Ass  Aadhar     Addres
0  Jude      1        10      12   North Av
1   Dom      2       100      14  South Ave
    Hey  Marks  Your Ass  Aadhar     Addres  Height
0  Jude      1        10      12   North Av     177
1   Dom      2       100      14  South Ave     178

In [26]:
# To delete rows and columns

up_df = df.drop("Marks", axis='columns') #we can also give axis as 1
print(up_df)
print("\n")
up_df2 = df.drop(1, axis='index') #we can also give axis as 0
print(up_df2)

    Hey  Your Ass  Aadhar     Addres
0  Jude        10      12   North Av
1   Dom       100      14  South Ave


    Hey  Marks  Your Ass  Aadhar    Addres
0  Jude      1        10      12  North Av

##Iterating in DF

In [28]:
#For iterating rows
for row in df.iterrows():
  print(row)

(0, Hey             Jude
Marks              1
Your Ass          10
Aadhar            12
Addres      North Av
Name: 0, dtype: object)
(1, Hey               Dom
Marks               2
Your Ass          100
Aadhar             14
Addres      South Ave
Name: 1, dtype: object)

In [29]:
#to iterate as tuple objects

for row in df.itertuples():
  print(row)

Pandas(Index=0, Hey='Jude', Marks=1, _3=10, Aadhar=12, Addres='North Av')
Pandas(Index=1, Hey='Dom', Marks=2, _3=100, Aadhar=14, Addres='South Ave')