<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/5PandasSorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

#Sorting in Pandas

In [5]:
data = {

        'Student': ['Amit','adi','akhil'],
        'marks': [12,13,14]
}

df = pd.DataFrame(data, index = ['row1','row2','row3'])
print(df)

     Student  marks
row1    Amit     12
row2     adi     13
row3   akhil     14

In [7]:
#Sorting in ascending

print(df.sort_values(by=['marks']))

     Student  marks
row1    Amit     12
row2     adi     13
row3   akhil     14

In [9]:
#Sorting in descending

print(df.sort_values(by=['marks'], ascending=False))

     Student  marks
row3   akhil     14
row2     adi     13
row1    Amit     12

##Other Related Operations

In [15]:
#Handling Duplicates

data2 = {

        'stu': ['amit', 'john','david','amar','amit'],
        'rank': [1,2,3,4,1]
}

df = pd.DataFrame(data2)
print(df)

     stu  rank
0   amit     1
1   john     2
2  david     3
3   amar     4
4   amit     1

In [17]:
res = df.duplicated()
print(res)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [18]:
#Remove Duplicates

res = df.drop_duplicates()
print(res)

     stu  rank
0   amit     1
1   john     2
2  david     3
3   amar     4