<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/5PandasSorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Sorting in Pandas

In [2]:
data = {

        'Student': ['Amit','adi','akhil'],
        'marks': [12,13,14]
}

df = pd.DataFrame(data, index = ['row1','row2','row3'])
print(df)

     Student  marks
row1    Amit     12
row2     adi     13
row3   akhil     14

In [3]:
#Sorting in ascending

print(df.sort_values(by=['marks']))

     Student  marks
row1    Amit     12
row2     adi     13
row3   akhil     14

In [4]:
#Sorting in descending

print(df.sort_values(by=['marks'], ascending=False))

     Student  marks
row3   akhil     14
row2     adi     13
row1    Amit     12

##Other Related Operations

In [5]:
#Handling Duplicates

data2 = {

        'stu': ['amit', 'john','david','amar','amit'],
        'rank': [1,2,3,4,1]
}

df = pd.DataFrame(data2)
print(df)

     stu  rank
0   amit     1
1   john     2
2  david     3
3   amar     4
4   amit     1

In [6]:
res = df.duplicated()
print(res)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [7]:
#Remove Duplicates

res = df.drop_duplicates()
print(res)

     stu  rank
0   amit     1
1   john     2
2  david     3
3   amar     4

##Grouping Data

In [10]:
data2 = {

         "name": ['amit','ajay','bunty','humpty'],
         'rank':[1,2,4,3]
}
df2= pd.DataFrame(data2)
print(df2)

     name  rank
0    amit     1
1    ajay     2
2   bunty     4
3  humpty     3

In [14]:
#group by rank

res = df2.groupby('name')
print(res.first())

        rank
name
ajay       2
amit       1
bunty      4
humpty     3

In [16]:
#Iterating

for name, rank in res:
  print(name)
  print(rank)

ajay
   name  rank
1  ajay     2
amit
   name  rank
0  amit     1
bunty
    name  rank
2  bunty     4
humpty
     name  rank
3  humpty     3