<a href="https://colab.research.google.com/github/sid-vj/learningpandas/blob/main/6PandasDataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cleaning the data

In [ ]:
import pandas as pd

df = pd.read_csv("demo.csv")
print(df)

##Cleaning Operations

In [5]:
#isnull() reaplces all null values with True

res = df.isnull()
print(res)

    Name   Dept
0  False  False
1  False   True
2  False  False
3  False  False
4  False   True

In [6]:
#notnull() replaces all not null value as true

res = df.notnull()
print(res)

   Name   Dept
0  True   True
1  True  False
2  True   True
3  True   True
4  True  False

In [ ]:
#dropna() drops all null values

res = df.dropna()
print(res)

In [ ]:
#fillna replaces all null values with specific value

res = df.fillna("CSBS")
print(res)

##Removing whitespaces

In [9]:
data2 = ["!Dan", "Anu\n\n", "Ajay\t"]
s = pd.Series(data2)
print(s)

0       !Dan
1    Anu\n\n
2     Ajay\t
dtype: object

In [12]:
#Whatever we give in paranthesis will be striped

print(s.str.strip('!\n\t'))

0     Dan
1     Anu
2    Ajay
dtype: object